<div class="col-md-12">
    <form id="records-form" class="form-horizontal" data-ng-submit="update()" novalidate>
        <fieldset>
            <div class="form-group">
                <label class="control-label" for="actualUntil">Actual
                    until</label>
                <div class="controls">
                    <input type="text" data-ng-model="record.actualUntil"
                           id="actualUntil"
                           class="form-control"
                           placeholder="Actual until date" >
                </div>
                <hr width="90%">
                <label class="control-label" for="items">Items</label>
                <div id="items" data-ng-init="getOptions()">
                    <div class="controls" data-ng-repeat="option in options | orderBy:'title'">
                        <tags-input class="form-control" placeholder="Items"
                                    aria-describedby="basic-addon1"
                                    data-ng-model="options[option._id].items"
                                    display-property="title">
                            <auto-complete source="getOptItems(option)"></auto-complete>
                        </tags-input>
                    </div>
                </div>

                <label class="control-label" for="logo">Logo</label>
                <div class="controls">
                    <input type="url" data-ng-model="option.logo" id="logo" class="form-control" placeholder="url to image">
                </div>

                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <textarea data-ng-model="option.description" id="description" class="form-control" placeholder="descriptive text"></textarea>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default">
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>
</div>
