<div class="list-group" data-ng-init="find()">
    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == option.user()._id))">
        <a class="btn btn-primary" ui-sref="option.one.item.create({optionId: option._id()})">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </div>
    <h2>Items</h2>
    <div data-ng-repeat="optItem in optItems" class="list-group-item">
        <small class="list-group-item-text">
            <em class="text-muted">
                Posted on
                <span data-ng-bind="optItem.created | date:'medium'"></span>
                by
                <span data-ng-bind="optItem.user.displayName"></span>
            </em>
        </small>
        <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == optItem.user._id))">
            <a class="btn btn-primary" data-ng-click="state.go('option.one.item.delete', {optItemId:optItem._id})">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <a ui-sref="option.one.item.edit({optItemId:optItem._id})" >
            <h4 class="list-group-item-heading" data-ng-bind="optItem.title"></h4>
        </a>
    </div>
</div>
