<section data-ng-init="findOne()">
    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == option.user._id))">
        <a class="btn btn-primary" data-ng-click="state.go('option.one.item.edit')">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="state.go('option.one.item.delete')">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="optItem.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="optItem.user.displayName"></span>
        </em>
        <hr>
    </small>

    <h4 data-ng-bind="optItem.title"></h4>
    <div data-ng-bind="optItem.logo"></div>
    <p data-ng-bind="optItem.description"></p>
</section>
