<section data-ng-init="findOne()">
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="optItem.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="optItem.user.displayName"></span>
        </em>
        <hr>
    </small>

    <div class="alert alert-warning text-center" >
        <strong>You are willing to delete this Option. It is potentially data loose action. We need you to confirm It.</strong>
        <hr width="50%">
        <button type="button" class="btn btn-danger" data-ng-click="remove()">Delete</button>
        <button type="button" class="btn btn-primary" data-ng-click="state.go('option.view')">Cancel</button>
    </div>

    <h4 data-ng-bind="optItem.title"></h4>
    <div data-ng-bind="optItem.logo"></div>
    <p data-ng-bind="optItem.description"></p>
</section>
