<div class="col-md-12">
    <form id="types-form" class="form-horizontal" data-ng-submit="send()" >
        <fieldset>
            <div class="form-group">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                    <input type="text" data-ng-model="type.title"
                           id="title"
                           class="form-control"
                           placeholder="Title" >
                </div>

                <label class="control-label" for="viewInListTpl">View In List Template</label>
                <div class="controls">
                    <input type="text" data-ng-model="type.viewInListTpl"
                           id="viewInListTpl"
                           class="form-control"
                           placeholder="View In List Template" >
                </div>

                <label class="control-label" for="viewTpl">View Template</label>
                <div class="controls">
                    <input type="text" data-ng-model="type.viewTpl"
                           id="viewTpl"
                           class="form-control"
                           placeholder="View Template" >
                </div>

                <label class="control-label" for="editTpl">Edit Template</label>
                <div class="controls">
                    <input type="text" data-ng-model="type.editTpl"
                           id="editTpl"
                           class="form-control"
                           placeholder="Edit Template" >
                </div>

                <label class="control-label" for="modelValidator">Model Validator</label>
                <div class="controls">
                    <input type="text" data-ng-model="type.modelValidator"
                           id="modelValidator"
                           class="form-control"
                           placeholder="Model Validator" >
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default">
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>
</div>

